.navigation {
  display: flex;
  height: 80px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.menu-block {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  visibility: visible;
  background: url(../images/icons/burger.png) center no-repeat;
  &:hover .menu {
    visibility: visible;
  }
}

.menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: -150px;
  display: flex;
  flex-direction: column;
  list-style: none;
  visibility: hidden;
  margin: 0;
  width: 150px;
}