.navigation {
  display: flex;
  height: 80px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.logo {
  @include font-full($font-title, 22px, 600, $col-turquoise, capitalize);
}

.menu-block {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  visibility: visible;
  background: url(../images/icons/burger.png) center no-repeat;
  cursor: pointer;

  &:hover .menu {
    visibility: visible;
  }
}

.menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: -124px;
  display: flex;
  flex-direction: column;
  list-style: none;
  visibility: hidden;
  margin: 0;
  width: 124px;
  padding: 0;
}

.menu li {
  background-color: #ffffff;
  padding-left: 5px;
  border: 1px solid $col-text;
  border-bottom: none;

  &:nth-last-child(1) {
    border-bottom: 1px solid $col-text;
  }
}

.menu li a {
  @include font-full($font-text, 14px, 700, $col-text, uppercase);
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
