@media (min-width: 768px) {

  .team-title {

    font-size: 28px;
    padding-top: 108px;
    color: $col-turquoise;
  }


  .team-title::before {
    // @extend %caption-line-before;
    transform: translate(220px, 12px);
  }

  .team-title::after {
    margin-top: -3px;
    margin-right: 0;
    // @extend %caption-line-after;
    transform: translate(462px, -13px);
  }

  .team-text {

    padding-bottom: 56px;
    padding-top: 38px;
    width: 600px;
    padding-left: 80px;
  }

  .team-special {
    padding-bottom: 58px;
  }
}
