@media (min-width: 768px) {

  .team-title {
    font-size: 28px;
    padding-top: 75px;
  }


  .team-title::before {
    transform: translate(-74px, 16px);
  }

  .team-title::after {
    transform: translate(12px, 16px);
  }

  .team-text {
    padding-bottom: 23px;
    padding-top: 38px;
    width: 80%;
    padding-left: 0px;
  }

  .team-special {
    padding-bottom: 58px;
  }
}

@media (min-width: 992px) {
  .partner-item {
    margin: 0 auto;
    padding: initial;
  }

  .team-title {
    font-size: 28px;
    padding-top: 61px;
  }

  .team-list {
    margin-left: -30px;
    margin-right: -30px;
  }

  .team-title::before {
    transform: translate(-70px, 16px);
  }

  .team-title::after {
    transform: translate(12px, 16px);
  }

  .team-text {
    padding-bottom: 63px;
    padding-top: 32px;
    width: 85%;
    padding-left: 0px;
  }

  .team-special {
    padding-bottom: 94px;
  }
}
