@media (min-width: 768px) {

  .team-title {

    font-size: 28px;
    padding-top: 75px;
  }


  .team-title::before {
    transform: translate(-74px, 16px);
  }

  .team-title::after {
    transform: translate(12px, 16px);
  }

  .team-text {
    padding-bottom: 23px;
    padding-top: 38px;
    width: 80%;
    padding-left: 0px;
  }

  .team-special {
    padding-bottom: 58px;
  }
}

@media (min-width: 980px) {
  .partner-item{
    margin: 0 auto;
    padding: initial;
  }

  .team-title {

    font-size: 28px;
    padding-top: 78px;
  }


  .team-title::before {
    transform: translate(-70px, 16px);
  }

  .team-title::after {
    transform: translate(12px, 16px);
  }

  .team-text {
    padding-bottom: 23px;
    padding-top: 38px;
    width: 80%;
    padding-left: 0px;
  }

  .team-special {
    padding-bottom: 58px;
  }
}
