@media (min-width: 768px) {

    .footer-title {
        @include font-full($font-title, 28px, bold, $col-white, uppercase);
        margin-bottom: 55px;
      }

      .footer-title::before {
        transform: translate(195px, 11px);
      }
      
      .footer-title::after {
        transform: translate(-255px, 11px);
      }

      .text-box {
        max-width: 570px;
      }

  .input-inf {
    min-width: 100%;
  }

  .input-text {
    min-width: 80%;
    margin-top: 30px;
  }

  .before-end {
    margin-top: 40px;
  }
  .title-content{
margin-bottom: 10px;
  }

  .text-content {
max-width: 420px;
  }

  .icon {
    margin: 1px;
    margin-bottom: 27px;
    margin-top: 40px;
  }

  .up {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .footer-title {
    margin-top: 65px;
    margin-bottom: 80px;
  }


  .contakt-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }



  .text-box {
        max-width: 575px;
      }


  .input-text {
    width: 100%;
    margin-top: 30px;
  }

  .button {
    text-align: right;
  }

  .button-and {
    margin-top: 30px;
  }

  .text-content{
    max-width: 425px;
  }

  .input-text {
    min-width: 90%;
  }

  .text-left {
    text-align: left;
  }

  .before-end {
    margin-top: 70px;
  }

}
