.footer-wrap {
  min-height: 875px;
  background-image: url(../images/footer.jpg);
  background-color: rgb(24, 24, 24);
  background-size: cover;
}

.aling {
  text-align: center;
}

.footer-title {
  position: relative;
  @include font-full($font-title, 28px, bold, $col-white, uppercase);
  line-height: 24px;
  margin-bottom: 15px;
  
}

.footer-title::before,
.footer-title::after {
position: absolute;
content: ' ';
width: 60px;
height: 1px;
background-color: $col-white;  
}

.footer-title::before {
  transform: translate(196px, 11px);
}

.footer-title::after {
  transform: translate(-258px, 11px);
}


.input-inf {
  @include font-full($font-text, 16px, normal, $col-text, none);
  line-height: 24px;
  border-radius: 5px;
  border: 2px solid $col-white;
  height: 50px;
  width: 270px;
  padding-left: 20px;
  margin-top: 30px;
}

.margin {
margin-bottom: 47px;
}

.input-text {
  @include font-full($font-text, 16px, normal, $col-text, none);
  line-height: 24px;
  border-radius: 5px;
  border: 2px solid $col-white;
  height: 175px;
  width: 270px;
  padding-left: 20px;
  margin-top: 50px;
}

.button-and {
  @include font-full($font-text, 22px, normal, $col-white, uppercase);
  line-height: 24px;
  background-color: $col-turquoise;
  height: 50px;
  width: 170px;
  border-radius: 5px;
  border: 2px solid var(--colG);
  margin-top: 45px;
  outline: 0;
}

.title-content {
  @include font-full($font-title, 24px, bold, $col-white, none);
  line-height: 24px;
  margin-top: 30px;
}

.text-content {
  @include font-full($font-text, 14px, 400, rgba(255, 255, 255, 0.502), none);
  line-height: 21px;
 margin-bottom: 35px;
}

.icon {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 25px;
}

.icon-so {
  position: absolute;
  display: block;
  fill: $col-white;
  width: 31px;
  height: 23px;
  left: 5px;
  top: 7px;
}

.facebook {
  background-color: rgb(0, 122, 185);
} 


.twitter {
  background-color: rgb(62, 194, 243);
}

.linkedin {
  background-color: rgb(0, 122, 185);
}


.contakt-inf {
  @include font-full($font-text, 14px, 400, rgb(191, 172, 226), none);
  line-height: 24px;
  margin: 0;
}

.text-end {
  @include font-full($font-text, 14px, 400, $col-after, none);
  line-height: 21px;
  text-align: left;
}

.up {
  display: block;
}

.left {
  text-align: left;  
}

.before-end {
  content: "";
  display: block;
  // width: 100%;
  height: 1px;
  background: $col-after;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
    .footer-wrap {
      background-image: url(../images/footer@2x.jpg);
    }
  }
