@media (min-width: 768px) {

  .footer-title {
    @include font-full($font-title, 28px, bold, $col-white, uppercase);
    margin-top: 66px;
    margin-bottom: 44px;
  }

  .footer-title::before {
    transform: translate(188px, 12px);
  }

  .footer-title::after {
    transform: translate(-255px, 12px);
  }

  .input-form {
    padding-right: 94px;
    padding-left: 85px;
    margin-bottom: 50px;
  }

  .input-inf {
    width: 100%;
    height: 44px;
  }

  .input-text {
    min-width: 80%;
    margin-top: 30px;
    height: 180px;
  }

  .before-end {
    margin-top: 40px;
  }

  .title-content {
    margin-bottom: -6px;
    margin-top: 4px;
  }

  .text-content {
    padding-left: 100px;
    padding-right: 100px;
  }

  .up {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .footer-wrap {
    // min-height: 675px;
  }

  .contakt-footer {
    margin-right: -30px;
    margin-left: -30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 75px;
  }

  .contact-block {
    padding-right: 0;
    padding-left: 0;
  }

  .input-inf {
    width: 100%;
    margin-top: 0;
  }

  .input-text {
    width: 100%;
    margin-top: 30px;
  }

  .input-form {
    padding-right: 25px;
    padding-left: 75px;
    margin-bottom: 3px;
  }

  .button {
    text-align: right;
  }

  .button-and {
    margin-top: 30px;
  }

  .text-content {
    padding-left: 0;
    padding-right: 70px;
  }

  .input-text {
    min-width: 90%;
  }

  .text-left {
    text-align: left;
  }

  .before-end {
    margin-top: 70px;
  }

}
