// ШРИФТ

$font-text: 'Open Sans', sans-serif;
$font-title: 'Raleway', sans-serif;

// ЦВЕТ

$col-white:rgb(255, 255, 255); // текст, фон - все белое
$col-turquoise: rgb(26, 183, 152); // (берюза) логотип, кнопка-хедера, заголовок-блока, ховер, svg
$col-after: rgb(83, 91, 100); // псевдоэлементы
$col-text: rgb(40, 37, 40); // текст сайта
$col-team: rgb(6, 32, 51); // для блока команда