@media (min-width: 768px) {
  .section-video {
    padding-top: 80px;

  }

  .video-title {
    font-size: 28px;
    margin-bottom: 10px;
    width: 765px;
  }

  .video-text {
    line-height: 1.625;
    margin-bottom: 24px;
    width: 542px;
  }

  .os-download {
    margin-bottom: 56px;
  }

  .video {
    margin-bottom: 108px;
  }

  .player {
    width: 502px;
    height: 304px;
  }

  .feedback-title {
    font-size: 28px;
    margin-bottom: 54px;
    width: 400px;
  }

  .feedback-title::before {
    transform: translate(-78px, 24px);
  }

  .feedback-title::after {
    transform: translate(16px, 24px);
  }

  .feedback-img {
    margin-bottom: 24px;
  }

  .post {
    margin-bottom: 57px;
  }

  .feedback-text {
    font-size: 18px;
    margin-bottom: 41px;
    line-height: 35px;
    padding-left: 50px;
    padding-right: 40px;
  }

  .feedback-text::before {
    content: '';
    transform: translate(-52px, -12px);
  }

  .feedback-slider {
    margin-bottom: 108px;
  }
}

@media (min-width: 992px) {

  .section-video {
    padding-top: 78px;
    margin-right: -35px;
  }

  .video {
    margin-bottom: 66px;
  }

  .video-title {
    font-size: 28px;
    text-align: left;
    margin-bottom: 10px;
  }

  .video-text {
    text-align: left;
    margin-bottom: 25px;
  }

  .os-download {
    justify-content: left;
  }

  .apple-link {
    margin-right: 18px;
  }

  .player {
    width: 496px;
    height: 304px;
  }

  .feedback-title {
    font-size: 28px;
    margin-bottom: 54px;
  }

  .feedback-img {
    margin-bottom: 24px;
  }

  .feedback-title::before {
    transform: translate(-93px, 23px);
  }

  .feedback-title::after {
    transform: translate(33px, 23px);
  }

  .name {
    padding-left: 18px;
  }

  .post {
    margin-bottom: 101px;
  }

  .feedback-text {
    line-height: 35px;
    margin-bottom: 32px;
    padding-left: 23px;
    padding-right: 139px;
    margin-left: 93px;
  }

  .feedback-slider {
    margin-bottom: 128px;
  }
  
  .feedback-text::before {
    content: '';
    transform: translate(-65px, -12px);
  }

}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .video-poster {
    background-image: url(../images/player@2x.png);
  }

  .feedback-text::before {
    background-image: url(../images/quotes@2x.png);
  }
}
