.team-title {
  @include font-full($font-title, 20px, 600, $col-turquoise, uppercase);
  line-height: 1.2;
  text-align: center;
  padding-top: 58px;
  color: $col-turquoise;
}

.team-title::before,
.team-title::after {
  content: "";
  height: 1px;
  width: 62px;
  background-color: $col-after;

  display: flex;
  margin-top: 0px;
  opacity: 1;
}

.team-title::before {
  margin-top: 0px;
  @extend %caption-line-before;
  transform: translate(58px, 10px);
}


.team-title::after {
  margin-top: -3px;
  margin-right: 0;
  @extend %caption-line-after;
  transform: translate(262px, -10px);
}


.team-text {
  @include font-full($font-text, 16px, 400, $col-team, none);
  line-height: 1.5;
  text-align: center;
  align-items: center;
  padding-bottom: 52px;
}


.team-name {
  @include font-full($font-text, 18px, 600, $col-team, none);

  line-height: 1.333;
  text-align: center;
  margin-bottom: 0;
}

.team-special {
  @include font-full($font-text, 13px, 400, $col-team, none);
  line-height: 1.846;
  text-align: center;
  padding-bottom: 46px;
  margin: 0;
}

.img {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 270px;
  height: 300px;
}

.card-overlay {
  text-align: center;
  position: absolute;
  width: 270px;
  height: 300px;
  background-color: rgba(26, 183, 152, 0.8);
  top: 0px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

}

.partner-item:hover .card-overlay {
  opacity: 1;
  transition: opacity 200ms linear;
}

.partner-item:hover .team-name {
  color: $col-turquoise;
  transition: color 200ms linear;
}

.social__link svg {
  fill: $col-white;
  width: 23;
  height: 23;
}

.partner-item {
  text-align: center;
}

.card-overlay-title {
  @include font-full($font-text, 16px, 600, $col-white, none);

  line-height: 1.5;
  text-align: center;
  width: 230px;
  margin: 0;

}

.card-overlay-subtitle {
  @include font-full($font-text, 16px, 400, $col-white, none);
  width: 230px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: rgba(0, 0, 0, 0.302);
  margin: 2px;
  color: $col-white;
}

.social__item .svg {
  width: 27px;
  height: 27px;
  fill: $col-white;
  @extend %team-icon;
}



@media (min-width: 768px) {

  .team-title {
    @include font-full($font-title, 28px, 600, $col-turquoise, uppercase);
    padding-top: 108px;
    color: $col-turquoise;
  }


  .team-title::before {
    margin-top: 0px;
    @extend %caption-line-before;
    transform: translate(58px, 10px);
  }


  .team-title::after {
    margin-top: -3px;
    margin-right: 0;
    @extend %caption-line-after;
    transform: translate(262px, -10px);
  }


}
