@media (min-width: 980px){
    .servise-block {
        height: 1150px;
    }
    .section-paragraph {
        width: 990px;
        position: relative;
        margin: 0 auto 162px;
        line-height: 32px;
    &::after {
        content: '';
        position: absolute;
        background-image: url("/src/images/phone.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 418px;
        height: 726px;
        transform: translate(-482px, 34px);
        }
    }
    .section-colums {
        width: 1146px;
    }
    .section-svg::after {
        left: 4px;
    }
    .section-svg1::after {
        left: 4px;
    }
    .section-svg2::after {
        left: 4px;
    }
    .section-svg3::after {
        left: 4px;
    }
    .section-svg4::after {
        left: 4px;
    }
    .section-svg5::after {
        left: 4px;
    }
    .section-subtitle {
        padding: 0 0 22px 78px;
    }
    .section-description {
        padding: 0 0 38px 78px;
        width: 322px;
    }
        
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-paragraph::after {
        background-image: url("/src/images/phone@2x.png");
  }
}