@media (min-width: 768px) {
  .servise-block {
    padding-right: 30px;
    padding-left: 30px;
  }

  .section-colums {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 354px;
  }

  .section-title {
    font-size: 28px;
    margin: 122px auto 66px;

    &::after {
      transform: translate(10px, 14px);
    }

    &::before {
      transform: translate(-70px, 14px);
    }
  }

  .section-paragraph {
    width: 646px;
    font-size: 18px;
    margin: 0 auto 66px;
    line-height: 28px;
  }

  .section-svg::after {
    left: 0px;
  }

  .section-svg1::after {
    left: 0px;
  }

  .section-svg2::after {
    left: 0px;
  }

  .section-svg3::after {
    left: 0px;
  }

  .section-svg4::after {
    left: 0px;
  }

  .section-svg5::after {
    left: 0px;
  }

  .section-subtitle {
    padding: 0 0 22px 72px;
  }

  .section-description {
    padding: 0 0 110px 72px;
    width: 318px;
  }
}
